# Ignorar archivos temporales en uploads
uploads/*
!uploads/.gitkeep

# Ignorar archivos de entorno en cualquier carpeta
*.env
.env
**/.env

# Otros archivos y carpetas comunes a ignorar
node_modules/
.DS_Store